<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Updateprofile</servlet-name>
        <servlet-class>Updateprofile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newregularpool</servlet-name>
        <servlet-class>newregularpool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>regularvehicle</servlet-name>
        <servlet-class>regularvehicle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newcasualpool</servlet-name>
        <servlet-class>newcasualpool</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Request</servlet-name>
        <servlet-class>Request</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Updateprofile</servlet-name>
        <url-pattern>/Updateprofile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newregularpool</servlet-name>
        <url-pattern>/newregularpool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>regularvehicle</servlet-name>
        <url-pattern>/regularvehicle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newcasualpool</servlet-name>
        <url-pattern>/newcasualpool</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Request</servlet-name>
        <url-pattern>/Request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
